@model IEnumerable<Food>
@{
    ViewData["Title"] = "Food";
    ViewData["HomeActive"] = "";
    ViewData["MenuActive"] = "";
    ViewData["FoodActive"] = "active";
}
@section MYCSS{
    <link href="@Url.Content("~/css/food.css")" rel="stylesheet" />
}
<section class="manage-container">
    <div class="table-Container">
        <h3 class="title"> Quản Lý Món Ăn</h3>
        <div class="table-box">
            <div class="create">
                <a asp-action="Upsert" class="upsert">
                    <i class="fas fa-plus"></i> &nbsp;
                    Create New Food
                </a>
            </div>
            <table id="food-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Decription</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Food f in Model)
                    {
                        <tr>
                            <td>@f.Name</td>
                            <td>@f.Price</td>
                            <td>@f.Description</td>
                            <td>
                                <span class="action_btn">
                                    <a asp-action="Upsert" asp-route-id="@f.Id" class="fas fa-edit"></a>
                                    <a onclick="Delete('/food/delete/@f.Id')" class="fas fa-trash-alt"></a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/food.js"></script>
}