@model IEnumerable<Food>
@{
    ViewData["Title"] = "Menu";
    ViewData["HomeActive"] = "";
    ViewData["MenuActive"] = "active";
    ViewData["FoodActive"] = "";
    ViewData["RequestActive"] = "";
}
@section MYCSS{
<link href="@Url.Content("~/css/menu.css")" rel="stylesheet" />
}

<section class="menu" id="menu">
    <div class="box-container">
        @foreach (Food p in Model)
        {
            <div class="box">
                <div class="image">
                    @if (p.Image != null)
                    {
                        var base64 = Convert.ToBase64String(p.Image);
                        string imgsrc = "";
                        if (string.IsNullOrEmpty(base64))
                        {
                            imgsrc = "~/img/150.png";
                        }
                        else
                        {
                            imgsrc = $"data:image/jpg;base64,{base64}";
                        }
                        <img src=@imgsrc alt="">
                    }
                </div>
                <div class="content">
                    <h3>@p.Name</h3>
                    <p>@p.Description</p>
                    <button onclick="AddToCart(@p.Id)" class="btn">
                        Thêm vào giỏ
                        <i class="fas fa-cart-plus"></i>
                    </button>
                    <span class="price">@((p.Price/1000).ToString()+" K")</span>
                </div>
            </div>
        }

    </div>
</section>

@section Scripts{
<script src="~/js/menu.js"></script>
}